/nbproject/private/
/build/
/dist/
/store/
/Zeugnis/
/Doku/Zeugnis/zeugnis.toc
/Doku/Zeugnis/zeugnis.aux
/Doku/Zeugnis/zeugnis.fdb_latexmk
/Doku/Zeugnis/zeugnis.fls
/Doku/Zeugnis/zeugnis.log
/Doku/Zeugnis/zeugnis.synctex.gz
/Doku/Zeugnis/zeugnis.sublime-project
/Doku/Zeugnis/zeugnis.sublime-workspace